.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  text-align: center;

  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px var(--box-shadow);

  transition-property: color, background, box-shadow;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}
