.connect {
  display: flex;
  margin-left: auto;
}

.connect__item:not(:last-child) {
  margin-right: 50px;
}

.connect__link {
  display: flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connect__icon {
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
