:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
  --white-blurred: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-background-light: #f5f4fa;
  --secondary-background-dark: #2f303a;
  --studio-top-color: #000000;
  --button-hover: #188ce8;
  --box-shadow: rgba(0, 0, 0, 0.15);
  --border-cards: #eeeeee;
  --border-main-nav: #ececec;
  --icon-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;
}
