.address {
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    margin-left: 76px;
  }
  @media screen and(max-width: 1199px) {
    text-align: center;
  }
}

.address__list {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--white-blurred);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
}

.address__route {
  color: var(--white-color);
}

.address__route:hover,
.address__route:focus,
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
