.header {
  border-bottom: 1px solid var(--border-main-nav);
}

.header__block {
  display: flex;
  align-items: center;
  // position: relative;
}

.navigation {
  display: flex;
}
// .navigation__item:not(:last-child) {
//   margin-right: 50px;
// }

.navigation__list {
  display: flex;
  margin-left: 93px;
  gap: 30px;

  @media screen and(max-width: 767px) {
    display: none;
  }
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 40px;
  // padding-right: 40px;
  z-index: 1;

  @media screen and (max-width: 479px) {
    width: 480px;
    max-width: 479px;
  }

  @include tablet {
    display: none;
  }
  @include desctop {
    display: none;
  }

  > .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;

  @include tablet {
    display: none;
  }
  @include desctop {
    display: none;
  }
}
.menu-open {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  fill: currentColor;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.menu-close {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-close {
  fill: currentColor;
}

.mob-menu__list {
  margin-bottom: 50px;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 479px) {
    font-size: 35px;
  }
}
.mob-connect__list {
  margin-bottom: 64px;
}
.mob-connect__item:not(:last-child) {
  padding-bottom: 32px;
}
.mob-connect__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.77;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--button-hover);
  }

  @media screen and (max-width: 479px) {
    font-size: 29px;
  }
}
.mob-connect__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-soc {
  display: flex;
}

.mob-soc__item {
  position: relative;
}
.mob-soc__item:not(:last-child) {
  margin-right: 20px;
}

.mob-soc__item:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 0px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  bottom: 50%;
}

.mob-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--button-hover);
  }

  @media screen and (max-width: 479px) {
    font-size: 12px;
  }
}
.mob-menu__current {
  color: var(--accent-color);
  transition-property: color;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus {
    color: var(--button-hover);
  }
}
