.hero {
  margin: 0 auto;
  text-align: center;
  padding: 118px 0px;
  max-width: 768px;
  max-height: 400px;
  background-color: var(--secondary-background-dark);
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include retina {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }

  @include tablet {
    max-width: 1200px;
    max-height: 400px;
    background-color: var(--secondary-background-dark);
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);

    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }
  @include desctop {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0px;
    background-color: var(--secondary-background-dark);
    background-image: var(--bg-gradient), url(../images/hero-bg-desctop.jpg);

    @include retina {
      background-image: var(--bg-gradient), url(../images/hero-bg-desctop-2x.jpg);
    }
  }
}

.hero__title {
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--white-color);
  font-weight: 900;
  font-size: 24px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include mobile {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @include tablet {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @include desctop {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
