.join-part {
  display: block;
  text-align: center;
  margin-left: 0;

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    margin-right: 89px;
  }
  @media screen and(min-width: 768px) {
    margin-left: auto;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--white-color);

  @media screen and(max-width: 1199px) {
    // text-align: center;
    margin-top: 60px;
  }
}
