.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition-property: color, background;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--white-color);
  }
}

.social-networks__team {
  background: var(--white-color);
  color: var(--icon-color);

  transition-property: color, background;
  transition-duration: var(--transition-time);
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--white-color);
  }
}

.social-networks__icon {
  fill: currentColor;
}
